:root {
  --feather-green: rgb(88, 204, 2);
  --mask-green: rgb(137, 226, 25);
  --eel: rgb(75, 75, 75);
  --snow: rgb(255, 255, 255);
  --fox: rgb(255, 150, 0);
  --wolf: rgb(119, 119, 119);
  --hare: rgb(175, 175, 175);
  --swan: rgb(229, 229, 229);
  --polar: rgb(247, 247, 247);
}