:root {
  --feather-green: rgb(88, 204, 2);
  --mask-green: rgb(137, 226, 25);
  --eel: rgb(75, 75, 75);
  --snow: rgb(255, 255, 255);
  --fox: rgb(255, 150, 0);
  --wolf: rgb(119, 119, 119);
  --hare: rgb(175, 175, 175);
  --swan: rgb(229, 229, 229);
  --polar: rgb(247, 247, 247);
  --bee: rgb(255, 200, 0);
  --beak-highlight: rgb(255, 222, 0);
  --beak-inner: rgb(182, 110, 40);

  /* league colors */
  --bronze: rgb(213, 170, 130);
  --silver: rgb(208, 220, 230);
  --gold: rgb(254, 213, 64);
  --sapphire: rgb(55, 185, 247);
  --ruby: rgb(255, 96, 96);
  --emerald: rgb(136, 207, 31);
  --amethyst: rgb(210, 141, 255);
  --pearl: rgb(255, 182, 226);
  --obsidian: rgb(86, 85, 94);
  --diamond: rgb(159, 236, 237);
  --default: var(--hare);
}