@import './colors.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;

  font-family: 'Nunito', sans-serif;
}

header {
  background-color: var(--mask-green);
  border-bottom: 5px solid var(--feather-green);

  padding: 1rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  font-synthesis: none;
  color: var(--snow);
  letter-spacing: 0.4rem;
  user-select: none;

  transition: text-shadow 200ms;
}

@media (hover: hover) {
  header:hover {
    text-shadow: 0 0 4rem var(--eel);
  }
}